<!DOCTYPE html>
<html>

<head>
  <script>
    if (location.protocol != 'https:') {
      location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
    }
  </script>

    <meta charset="utf-8">
    <title>{$pool_name}</title>
    <meta name="keywords" content="{$pool_name},ARO,Arionum,arionum,pool,arionum pool,solo,solo pool,arionum solo pool,mining,miner,crypto,cryptocurrency,mining pool,cryptogone,bogdanadnan,aropool,arionumpool,aromining""/>
    <meta name="description" content="{$pool_name} is a reliable, big performance, secure pool for Arionum miners">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="utils/price.js"></script>
    <script src="utils/plusinfo.js"></script>
    <script src="utils/serverinfo.js"></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>

    <!-- Icomoon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/icomoon/icomoon.css">

    <link rel="stylesheet" type="text/css" href="assets/js/plugins/datatables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css"
          href="assets/js/plugins/datatables/extensions/Editor/css/dataTables.editor.css">
    <link rel="stylesheet" type="text/css"
          href="assets/js/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css">

  
    <!-- CSS - theme -->
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/less/theme.min.css">

    <!-- CSS - POOL -->
    <link rel="stylesheet" type="text/css" href="pool.css">


    <!-- CSS - allcp forms -->
    <link rel="stylesheet" type="text/css" href="assets/allcp/forms/css/forms.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{$template_directory}favicon.ico">

    <!-- IE8 HTML5 support  -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
  .info-block h2 { font-size: 32px; }
  .info-block i { font-size: 16px; }
</style>
</head>

<body onload="automat()" class="dashboard-page with-customizer">

<!-- Body Wrap  -->
<div id="main">

    <!-- Header  -->
    <header class="navbar navbar-fixed-top" style="background-color:#dee1ec !important;">
        <div class="navbar-logo-wrapper dark bg-dark">
            <span class="navbar-logo-image" style="font-size: 25px; font-weight:bold; color:#00e6e6;" href="/"></a>
                {$pool_name}
            </span>
        </div>
        <span id="sidebar_left_toggle" class="ad ad-lines navbar-nav navbar-left"></span>

<div style="font-size:12px !important;">
  <div style="float:left;">
    <img src="images/arionum.png" style="height:60px;" />
    <img src="images/gpu_icon.png" style="height:60px;" />
    
  </div>
  <div style="float:left;margin-left:20px;">
    <span>Pool: {$pool_name}</span><br />
    <span>This pool for home miners: Gpu, multiple CPU min DL: [300.000] </span><br />
    <span>Work together with another arionum.tk pools</span><br />
  </div>
  <div style="float:left;margin-left:20px;" id="srvinfo">
    <span>Server Processor: <strong><script>document.write(srv_cpu+"%");</script>  </strong></span><br />
    <span>Server Memory: <strong><script>document.write(srv_mem+"%");</script>  </strong></span><br />
    <span>Server Load:  <strong><script>document.write(srv_load+"%");</script> </strong></span><br />
  </div>
  <div style="float:left;margin-left:20px;" id="srvprogress">
    <span><script>document.write(drawprogress(srv_cpu));</script></span><br />
    <span><script>document.write(drawprogress(srv_mem));</script></span><br />
    <span><script>document.write(drawprogress(srv_load));</script></span><br />
  </div>
 </div>


    </header>
    <!-- /Header  -->

    <!-- Sidebar  -->
    <aside id="sidebar_left" class="nano nano-light affix">

        <!-- Sidebar Left Wrapper  -->
        <div class="sidebar-left-content nano-content">

          
            <!-- Sidebar Menu  -->
            <ul class="nav sidebar-menu">
                <li {if="$q==''"}class="active"{/if}>
                    <a href="/">
                        <span class="sidebar-title">Dashboard</span>
                        <span class="sb-menu-icon fa fa-home"></span>
                    </a>
                </li>
                <li {if="$q=='blocks'"}class="active"{/if} >
                    <a  href="/?q=blocks">
                        <span class="sidebar-title">Blocks Won</span>
                        <span class="sb-menu-icon fa fa-cubes"></span>
                    </a>
                </li>

                <li {if="$q=='payments'"}class="active"{/if} >
                    <a  href="/?q=payments">
                        <span class="sidebar-title">Payments</span>
                       
                        <span class="sb-menu-icon fa fa-list-ul"></span>
                    </a>
                </li>
                <li {if="$q=='info'"}class="active"{/if} >
                    <a  href="/?q=info">
                        <span class="sidebar-title">Information</span>
                       
                        <span class="sb-menu-icon fa fa-info"></span>
                    </a>
                </li>

                <li>
                    <a target="_blank" href="https://cubedpixels.net/projects/Arionum%20Crossplatform%20Wallet/login.html">
                        <span class="sidebar-title">Web wallet</span>

                        <span class="sb-menu-icon fa fa-compass"></span>
                    </a>
                </li>

                <li>
                    <a  href="/?q=links/">
                        <span class="sidebar-title">Useful links</span>

                        <span class="sb-menu-icon fa fa-share-square-o"></span>
                    </a>
                </li>

                <li>
                    <a href="https://arionum.tk/">
                        <span class="sidebar-title">Main page</span>

                        <span class="sb-menu-icon fa fa-slack"></span>
                    </a>
                </li>

            </ul>
            <!-- /Sidebar Menu  -->
            <img src="images/gpu_icon.png" style="width:80%;" />

        </div>
        <!-- /Sidebar Left Wrapper  -->
    <div>Pool: {$pool_name}</div>

    </aside>
    <!-- /Sidebar -->

    <!-- Main Wrapper -->
    <section id="content_wrapper">


  
        <!-- Content -->
        <section id="content" class="table-layout animated fadeIn">

            <!-- Column Center -->
            <div class="chute chute-center">

