<!DOCTYPE html>
<html>

<head>
   
    <meta charset="utf-8">
    <title>{$pool_name}</title>
    <meta name="keywords" content="{$pool_name},ARO,Arionum,arionum,pool,arionum pool,solo,solo pool,arionum solo pool,mining,miner,crypto,cryptocurrency,mining pool,cryptogone,bogdanadnan,aropool,arionumpool,aromining""/>
    <meta name="description" content="{$pool_name} is a reliable, big performance, secure pool for Arionum miners">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="utils/price.js"></script>
    <script src="utils/plusinfo.js"></script>
    <script src="utils/serverinfo.js"></script>
    <script src="utils/poolinfo.js"></script>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700' rel='stylesheet' type='text/css'>

    <!-- Icomoon -->
    <link rel="stylesheet" type="text/css" href="assets/fonts/icomoon/icomoon.css">

    <link rel="stylesheet" type="text/css" href="assets/js/plugins/datatables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css"
          href="assets/js/plugins/datatables/extensions/Editor/css/dataTables.editor.css">
    <link rel="stylesheet" type="text/css"
          href="assets/js/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css">

 
    <!-- CSS - theme -->
    <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/less/theme.min.css">

    <!-- CSS - POOL -->
    <link rel="stylesheet" type="text/css" href="pool.css">


    <!-- CSS - allcp forms -->
    <link rel="stylesheet" type="text/css" href="assets/allcp/forms/css/forms.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{$template_directory}favicon.ico">

    <!-- IE8 HTML5 support  -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style>
  .info-block h2 { font-size: 32px; }
  .info-block i { font-size: 16px; }
</style>

</head>

<body onload="automat()" class="dashboard-page with-customizer">

<!-- Body Wrap  -->
<div id="main">

    <!-- Header  -->
    <header class="navbar navbar-fixed-top" style="background-color:#dee1ec !important;">
        <div class="navbar-logo-wrapper dark bg-dark">
            <a href="{$pool_url}">
            <span class="navbar-logo-image" style="font-size: 25px; font-weight:bold; color:#00e6e6;" href="/">
               <img src="images/arionum.png" style="height:30px;border-width:0px;" />
               {$pool_name}
            </span>
            </a>

        </div>
        <span id="sidebar_left_toggle" class="ad ad-lines navbar-nav navbar-left"></span>

<div style="font-size:12px !important;">
  <div style="float:left;">
    <img src="images/arionum.png" style="height:60px;" />
  </div>
  <div class="welcome-info">
    <span>{$pool_name}</span><br />

  </div>
  <div style="float:left;margin-left:20px;" id="srvinfo">
    <span>Server Processor: <strong><script>document.write(srv_cpu+"%");</script>  </strong></span><br />
    <span>Server Memory: <strong><script>document.write(srv_mem+"%");</script>  </strong></span><br />
    <span>Server Load:  <strong><script>document.write(srv_load+"%");</script> </strong></span><br />
  </div>
  <div style="float:left;margin-left:20px;" id="srvprogress">
    <span><script>document.write(drawprogress(srv_cpu));</script></span><br />
    <span><script>document.write(drawprogress(srv_mem));</script></span><br />
    <span><script>document.write(drawprogress(srv_load));</script></span><br />
  </div>
  <div style="float:left;margin-left:20px;font-size:10px;" id="poolinfo">
    <span>AroPool.com: <strong><script>document.write(aropool_block);</script>  </strong></span><br />
    <span>Aro.Cool:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong><script>document.write(arocool_block);</script>  </strong></span><br />
    <span>ArionumPool:  <strong><script>document.write(arionumpool_block);</script> </strong></span><br />
    <span>Arionum.Info:  <strong><script>document.write(arionuminfo_block);</script> </strong></span><br />
  </div>



</div>


    </header>
    <!-- /Header  -->

    <!-- Sidebar  -->
    <aside id="sidebar_left" class="nano nano-light affix">

        <!-- Sidebar Left Wrapper  -->
        <div class="sidebar-left-content nano-content">

          
            <!-- Sidebar Menu  -->
            <ul class="nav sidebar-menu">
                <li>
                    <a  href="/?q=links/">
                        <img src="images/link_icon.svg" style="height:30px;border-width:0px;" />
                        <span class="sidebar-title">Useful Links</span>

                        <!-- <span class="sb-menu-icon fa fa-share-square-o"></span> -->
                    </a>
                </li>

                <li>
                    <a  href="/?q=news/">
                        <span class="sb-menu-icon fa fas fa-2x fa-newspaper-o" style="float:left; border-width:0px;color:black;background-color:inherit;"></span>
                        <span class="sidebar-title">News</span>
                    </a>
                </li>

              
                <li>
                  <a href="#">
                        <span class="sidebar-title" style="color:white;">Price: <script>document.write(aro_price)</script> USD</span>
                  </a>
                </li>
            </ul>

<div style="position:absolute;bottom:100px;left:30px;">
<!-- Start of CuterCounter Code -->
<!-- <a href="http://www.cutercounter.com/" target="_blank"><img src="http://www.cutercounter.com/hits.php?id=gvuupnxaf&nd=6&style=2" border="0" alt="visitor counter"></a> -->
<!-- End of CuterCounter Code -->
</div>

            <!-- /Sidebar Menu  -->
        </div>
        <!-- /Sidebar Left Wrapper  -->
    <div>Pool: {$pool_name}</div>

    </aside>
    <!-- /Sidebar -->

    <!-- Main Wrapper -->
    <section id="content_wrapper">


  
        <!-- Content -->
        <section id="content" class="table-layout animated fadeIn">

            <!-- Column Center -->
            <div class="chute chute-center">

