                <!-- Quick Links -->
                <div class="row">
                    <div class="col-sm-6 col-xl-3">
                        <div class="panel panel-tile info-block info-block-bg-success">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-5 ph10 text-center ">
                                        <i class="fa fa-fire"></i>
                                    </div>
                                    <div class="col-xs-7 pl35 prn text-center">
                                        <h2>{$height}</h2>
                                        <h6>Current Block</h6>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="info-block-stat">
                                            <span>Last won block</span>
                                            <span>{$lastwon}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="panel panel-tile info-block info-block-bg-info">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-5 ph10 text-center">
                                        <i class="imoon imoon-users2"></i>
                                    </div>
                                    <div class="col-xs-7 pl35 text-center">
                                        <h2 class="">{$miners}</h2>
                                        <h6 class="text-muted">Miners</h6>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="info-block-stat">
                                            <span>Difficulty</span>
                                            <span>{$difficulty}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="panel panel-tile info-block info-block-bg-warning">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-5 ph10 text-center">
                                        <i class="fa fa-money"></i>
                                    </div>
                                    <div class="col-xs-7 pl35 text-center">
                                        <h2 class="">{$total_paid}M</h2>
                                        <h6 class="text-muted">ARO</h6>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="info-block-stat">
                                            <span>Total paid</span>
                                            <span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="panel panel-tile info-block info-block-bg-system">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-5 ph10 text-center">
                                        <h2 class="">{$total_gpu}</h2>
                                        <h6 class="text-muted">GPU Hash Rate ({$gpu_ext})</h6>

                                    </div>
                                    <div class="col-xs-7 pl35 text-center">
                                        <h2 class="">{$total_hr}</h2>
                                        <h6 class="text-muted">CPU Hash Rate ({$hr_ext})</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- AllCP Info -->
            

             
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 allcp-grid ">

                            <!-- Widget Calendar -->
          
                            <div class="panel of-h" id="spy1">
                                <div class="panel-heading br-b-o w-mt-15">
                                    <span class="panel-title">Current Shares</span>
                                    <span class="panel-title pull-right">Total Current Shares: {$total_shares}</span>
                                </div>
                                <div class="panel-body pn mt25">
                                    <div class="table-responsive">
                                        <table class="table display datatable" id="datatable1">
                                            <thead>
                                            <tr>
                                                <th class="va-m">Shares</th>
                                                <th class="va-m">%</th>
                                                <th class="va-m">Best DL</th>
						<th class="va-m">Miner</th>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                            <tr>
                                                <th class="va-m">Shares</th>
                                                <th class="va-m">%</th>
                                                <th class="va-m">Best DL</th>
						<th class="va-m">Miner</th>
                                            </tr>
                                            </tr>
                                            </tfoot>

                                            <tbody>
{loop="$shares"}
                                            <tr>
                                                <td>{$value.shares}</td>
                                                <td>{$value.percent} %</td>
                                                <td>{$value.bestdl}</td>
						<td>{$value.id}</td>
                                            </tr>
{/loop}
                                            </tbody>
                                        </table>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">

                            
                            <div class="panel of-h" id="spy1">
                                <div class="panel-heading br-b-o w-mt-15">
                                    <span class="panel-title">Historic Shares</span>
                                    <span class="panel-title pull-right">Total Historic Shares: {$total_historic}</span>
                                </div>
                                <div class="panel-body pn mt25">
                                    <div class="table-responsive">
                                        <table class="table display datatable" id="datatable2">
                                            <thead>
                                            <tr>
                                            <tr>
                                            	<th class="va-m">Shares</th>
                                            	<th class="va-m">%</th>
 					     	<th class="va-m">CPU HR</th>
                                               	<th class="va-m">GPU HR</th>
     						<th class="va-m">Pending</th>
                                            	<th class="va-m">Total paid</th>
						<th class="va-m">Miner</th>
                                        </tr>
                                            </tr>
                                            </thead>
                                            <tfoot>
                                            <tr>
                                            <tr>
                                                <th class="va-m">Shares</th>
 						<th class="va-m">%</th>
 						<th class="va-m">CPU HR</th>
                                                <th class="va-m">GPU HR</th>
						<th class="va-m">Pending</th>
                                                <th class="va-m">Total paid</th>
						<th class="va-m">Miner</th>
                                            </tr>
                                            </tr>
                                            </tfoot>
                                            <tbody>
{loop="$historic"}
                                                <tr>
                                                    <td>{$value.historic}</td>
                                                    <td>{$value.percent} %</td>
						    <td>{$value.hashrate}</td>
							<td>{$value.gpuhr}</td>
						    <td>{$value.pending}</td>
                                                    <td>{$value.total_paid}</td>
                                                    <td>{$value.id}</td>
                                                </tr>
{/loop}
                                            </tbody>
                                        </table>
                                    </div>
    
                                </div>
                            </div>
                            
                           
                        </div>
                    </div>
