    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 allcp-grid ">


                        <div class="panel of-h" id="spy1">
                                <div class="panel-heading br-b-o w-mt-15">
                                    <span class="panel-title">Information:</span>
                                      </div>
                                <div class="panel-body pn mt25 lead">
                                   <h4>Pool address: {$pool_url}</h4>
				<h4>DL: {$cpu_deadline} (CBlocks) / {$gpu_deadline} (GBlocks)</h4>
                                <h4>Degradation of historic shares: {$pool_degradation}%   
				<h4>Pool fee: {$fee}%</h4>
				   <h4>Minimum payout: {$minpayout} aro</h4>
				   <h4>Block confirmation: 10 blocks</h4>
 				<h4>Reward split: {$historic_reward}% historic shares, {$current_reward}% current shares and {$miner_reward}% for block finder </h4>
				<h4>Payout schedule: every hour</h4>
				<h4>Pool balance: <a href="https://arionum.info/account/{$poolwallet}">Block Explorer</A></h4>
<BR>
				<h4>This is an independent pool, which means you will only receive a payment when the pool finds a block.</h4>
<BR>  
				<h4>This service is provided as is.<BR>
				For more information: See the <a href="https://arionum.info/discord/">ARO discord</a>.</h4>
<BR>
				<small><i>Server: {$server}</i></small>


                                </div>
                            </div>
                        
</div>
</div>
