<div class="row">
     <div class="col-xs-12 col-md-12 col-lg-12 allcp-grid ">
          <div class="panel of-h" id="news">
               <div class="panel-heading br-b-o w-mt-15">
                    <span class="panel-title">News:</span>
               </div>

               <div class="panel-heading br-b-o w-mt-15" style="background-color:#dddddd;">
                    <span class="panel-title">⭐2019-06-24: Advanced server informations</span>
               </div>
               <div class="panel-heading br-b-o w-mt-15" style="color:#442222;font-size:18px;">
                  <UL>
                    <LI><span class="panel-title">Added server informations to pools header</span></LI>
                    <LI><span class="panel-title">Processor, Memory and server load percentage, and progress bar</span></LI>
                  </UL>
                  <span class="panel-title">Wish many blocks! 😊</span>
               </div>

               <div class="panel-heading br-b-o w-mt-15" style="background-color:#dddddd;">
                    <span class="panel-title">⭐2019-06-22: Reconfigured server, node and pools.</span>
               </div>
               <div class="panel-heading br-b-o w-mt-15" style="color:#442222;font-size:18px;">
                  <UL>
                    <LI><span class="panel-title">Now sync with other pools and to network is working fast. That cause minimal wrong (orphan) blocks, spread new block fastly.</span></LI>
                    <LI><span class="panel-title">Lowered min DLs, reduced server load (don't influence block founds, and shres)</span></LI>
                    <LI><span class="panel-title">Share validation moved to an another validation server (share works between each other) </LI>
                    <LI><span class="panel-title">Improved some node functions. Now work faster.</LI>
                  </UL>
                  <span class="panel-title">Wish happy mining! 😃</span>
               </div>

          </div>
     </div>
</div>
        
